---
- name: facts | Combine array_inventory and array_secrets for {{ repl_loop.key }}
  set_fact:
    combined_inventory: "{{ array_inventory | combine(array_secrets, recursive=True) }}"
  run_once: true
  no_log: true

- name: facts | Set fb_url and fb_token fact from array_inventory for {{ repl_loop.key }}
  set_fact:
    src_fb_url: "{{ combined_inventory[repl_vars.src.server].fb_host }}"
    src_fb_token: "{{ combined_inventory[repl_vars.src.server].api_token }}"
  no_log: true

- name: validation | Check connectivity for source FBServer
  shell: ping -q -c 4 -W 1 {{ src_fb_url }}
  register: src_ping_status
  failed_when: false
  changed_when: false

- name: validation | Fail if source Flashblade server not reachable
  fail:
    msg: Source FB server {{ src_fb_url }} not reachable
  when: "'100% packet loss' in src_ping_status.stdout"

- name: validation | Check if reachable fb_host is FB server or not to fail fast
  uri:
    url: https://{{ src_fb_url }}/api/api_version
    method: GET
    validate_certs: no
    return_content: yes
    timeout: 10
  register: api_version
  failed_when: false

- name: validation | Fail if FlashBlade server mentioned in "fb_host" is not FlashBlade server
  fail:
    msg: FB server {{ src_fb_url }} is not valid FlashBlade server
  when: ( api_version.status != 200 )

- name: facts | Get information from src FB server for {{ repl_loop.key }}
  purefb_info:
    gather_subset:
      - minimum
      - buckets
      - network
      - replication
    fb_url: "{{ src_fb_url }}"
    api_token: "{{ src_fb_token }}"
  register: src_fb_info

- name: validation | Fail if src bucket already have replica link for {{ repl_loop.key }}
  fail:
    msg: Cannot have multiple replica links on the same local bucket {{ repl_vars.src.bucket }}
  when:
    - repl_vars.common_params is defined
    - repl_vars.common_params.delete is defined and not repl_vars.common_params.delete | bool
    - src_fb_info.purefb_info.bucket_replication | length > 0
    - src_fb_info.purefb_info.bucket_replication[repl_vars.src.bucket] is defined
    - src_fb_info.purefb_info.bucket_replication[repl_vars.src.bucket].remote_bucket != repl_vars.dst.bucket

# src s3 secrets
- name: Create remote credential and replica link for {{ repl_loop.key }}
  block:
  - name: account | Create src s3 account for {{ repl_loop.key }}
    purefb_s3acc:
      name: "{{ repl_vars.src.account }}"
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"

  - name: bucket | Create src bucket for {{ repl_loop.key }}
    purefb_bucket:
      name: "{{ repl_vars.src.bucket }}"
      account: "{{ repl_vars.src.account }}"
      versioning: enabled
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"

  - name: facts | Set dst s3 secrets from fb_secrets for {{ repl_loop.key }}
    set_fact:
      dst_access_key: "{{ s3_secrets[repl_vars.dst.credential].access_id }}" 
      dst_secret_key: "{{ s3_secrets[repl_vars.dst.credential].access_key }}"
    when:
      - s3_secrets is defined and s3_secrets | length > 0
      - s3_secrets[repl_vars.dst.credential] is defined
      - repl_vars.dst.credential is defined
    no_log: true

  - name: replvip | Set fact for replication vip on FlashBlade server {{ repl_loop.key }}
    set_fact:
      src_repl_vip: "{{ item.value.address }}"
    when: ( item.value.services[0] == "replication" )
    loop: "{{ src_fb_info.purefb_info.network | dict2items }}"
    loop_control:
      label: "{{ item.key }}"

  - name: replvip | Create replication interface(VIP) on {{ repl_loop.key }}
    purefb_network:
      name: "{{ repl_vars.src.replvip_name | default('replvip') }}"
      address: "{{ repl_vars.src.replvip }}"
      state: present
      services: replication
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    when:
      - src_repl_vip is not defined
      - repl_vars.src.replvip is defined

  - name: replication | Create a connection to remote S3-capable target for {{ repl_loop.key }}
    purefb_target:
      name: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') }}"
      address: "{{ repl_vars.dst.server }}"
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"

  - name: block | Create user when required for src FB
    block:
    - name: user | Create s3 user on {{ repl_vars.src.server }} for {{ repl_loop.key }}
      purefb_s3user:
        name: "{{ repl_vars.src.user }}"
        account: "{{ repl_vars.src.account }}"
        access_key: true
        state: present
        fb_url: "{{ src_fb_url }}"
        api_token: "{{ src_fb_token }}"
      register: user_info

    - name: validation | Fail if src s3 secrets not available for {{ repl_loop.key }}
      fail:
        msg: >
          Maximum Access Key count reached for user {{ repl_vars.src.user }}, 
          create user with different name to generate secret keys
      when:
        - user_info.s3user_info is not defined or user_info.s3user_info | length == 0 

    - name: secrets | Set source access key and secret key for {{ repl_loop.key }}
      set_fact:
        src_access_key: "{{ user_info.s3user_info.fb_s3user.access_id }}"
        src_secret_key: "{{ user_info.s3user_info.fb_s3user.access_key }}"
      when: 
        - user_info.s3user_info is defined 
        - user_info.s3user_info | length > 0
      no_log: true

    - name: validation | Fail if src s3 secrets not available for {{ repl_loop.key }}
      fail:
        msg: s3 secrets {{item}} not available
      loop: 
        - src_access_key
        - src_secret_key
      when: vars[item] is not defined
    when: repl_vars.src.expiration_days is defined or repl_vars.src.noncurrent_version_expiration_days is defined

  # secret validation
  - name: validation | Fail if dst s3 secrets not available for {{ repl_loop.key }}
    fail:
      msg: s3 secrets {{ item }} not available
    loop: 
      - dst_access_key
      - dst_secret_key
    when: vars[item] is not defined
    no_log: true

  - name: facts | Get s3 bucket list from aws for {{ repl_loop.key }}
    aws_s3_bucket_info:
      aws_access_key: "{{ dst_access_key }}"
      aws_secret_key: "{{ dst_secret_key }}"
      region: "{{ repl_vars.dst.region | default('us-west-2') }}"
    register: aws_s3_list

  - name: aws | Create s3 bucket on AWS if not present for {{ repl_loop.key }}
    s3_bucket:
      name: "{{ repl_vars.dst.bucket }}"
      versioning: yes
      aws_access_key: "{{ dst_access_key }}"
      aws_secret_key: "{{ dst_secret_key }}"
      region: "{{ repl_vars.dst.region | default('us-west-2') }}"
    register: aws_s3_bucket
    when: repl_vars.dst.bucket not in aws_s3_list

  - name: aws | Set target(AWS) s3 bucket lifecycle rules for {{ repl_loop.key }}
    s3_lifecycle:
      name: "{{ repl_vars.dst.bucket }}"
      expiration_days: "{{ repl_vars.dst.expiration_days | default(omit) }}"
      noncurrent_version_expiration_days: "{{ repl_vars.dst.noncurrent_version_expiration_days | default(90) }}"
      aws_access_key: "{{ dst_access_key }}"
      aws_secret_key: "{{ dst_secret_key }}"
      prefix: "{{ repl_vars.dst.prefix | default(omit) }}"
      region: "{{ repl_vars.dst.region | default('us-west-2') }}"
      status: enabled
      state: present
    when:
      - repl_vars.dst.expiration_days is defined or repl_vars.dst.noncurrent_version_expiration_days is defined

  - name: datavip | Select random data vip to use it as s3 endpoint for {{ repl_loop.key }}
    set_fact:
      data_vip: "{{ item.value.address }}"
    when: ( item.value.services[0] == "data" )
    loop: "{{ src_fb_info.purefb_info.network | dict2items }}"
    loop_control:
      label: "{{ item.key }}"

  - name: FBServer | Set source(FB Server) s3 bucket lifecycle rules for {{ repl_loop.key }}
    s3_lifecycle:
      name: "{{ repl_vars.src.bucket }}"
      ec2_url: "http://{{ data_vip }}"
      expiration_days: "{{ repl_vars.src.expiration_days | default(omit) }}"
      noncurrent_version_expiration_days: "{{ repl_vars.src.noncurrent_version_expiration_days | default(90) }}"
      aws_access_key: "{{ src_access_key }}"
      aws_secret_key: "{{ src_secret_key }}"
      prefix: "{{ repl_vars.src.prefix | default(omit) }}"
      status: enabled
      state: present
    when:
      - data_vip | length > 0
      - src_access_key is defined and src_secret_key is defined
      - repl_vars.src.expiration_days is defined or repl_vars.src.noncurrent_version_expiration_days is defined

  - name: replication | Create remote cred from src to dst for {{ repl_loop.key }}
    purefb_remote_cred:
      name: "{{ repl_vars.common_params.remote_cred_name | default('aws_cred') }}"
      access_key: "{{ dst_access_key }}"
      secret: "{{ dst_secret_key }}"
      target: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') }}"
      state: present
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"

  - name: replication | Create bucket replica from src to dst for {{ repl_loop.key }}
    purefb_bucket_replica:
      name: "{{ repl_vars.src.bucket }}"
      target: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') }}"
      target_bucket: "{{ repl_vars.dst.bucket }}"
      paused: "{{ repl_vars.common_params.pause_repl | default(omit) }}"
      credential: "{{ repl_vars.common_params.remote_cred_name | default('aws_cred') }}"
      state: present
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
  when:
    - repl_vars.common_params is not defined or repl_vars.common_params.delete is not defined or not repl_vars.common_params.delete | bool

- name: Delete remote credential and replica link for {{ repl_loop.key }}
  block:
  - name: replication | Delete bucket replica link for {{ repl_loop.key }}
    purefb_bucket_replica:
      name: "{{ repl_vars.src.bucket }}"
      target: "{{ repl_vars.common_params.remote_connection_name | default('aws_target')}}"
      credential: "{{ repl_vars.common_params.remote_cred_name | default('aws_cred') }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    when: repl_vars.src.bucket in src_fb_info.purefb_info.bucket_replication 
    ignore_errors: true

  - name: fact | Set remote_credential name on src FB
    set_fact:
      remote_credential_name: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') ~ '/' ~ repl_vars.common_params.remote_cred_name | default('aws_cred') }}"

  - name: replication | Delete remote credential for {{ repl_loop.key }}
    purefb_remote_cred:
      name: "{{ repl_vars.common_params.remote_cred_name | default('aws_cred') }}"
      target: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    when: remote_credential_name in src_fb_info.purefb_info.remote_credentials
    ignore_errors: true

  - name: bucket | Delete src bucket for {{ repl_loop.key }}
    purefb_bucket:
      name: "{{ repl_vars.src.bucket }}"
      account: "{{ repl_vars.src.account }}"
      state: absent
      eradicate: true
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    when: repl_vars.src.bucket in src_fb_info.purefb_info.buckets
    ignore_errors: true

  - name: user | Delete src s3 user on {{ repl_vars.src.server }} for {{ repl_loop.key }}
    purefb_s3user:
      name: "{{ repl_vars.src.user }}"
      account: "{{ repl_vars.src.account }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    loop: "{{ src_fb_info.purefb_info.buckets | dict2items }}"
    loop_control:
      label: "{{ item.key }}"
    when: repl_vars.src.account == item.value.account_name
    ignore_errors: true

  - name: account | Delete src s3 account for {{ repl_loop.key }}
    purefb_s3acc:
      name: "{{ repl_vars.src.account }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    loop: "{{ src_fb_info.purefb_info.buckets | dict2items }}"
    loop_control:
      label: "{{ item.key }}"
    when: repl_vars.src.account == item.value.account_name
    ignore_errors: true
  
  - name: facts | Set dst s3 secrets from fb_secrets for {{ repl_loop.key }}
    set_fact:
      dst_access_key: "{{ s3_secrets[repl_vars.dst.credential].access_id }}" 
      dst_secret_key: "{{ s3_secrets[repl_vars.dst.credential].access_key }}"
    when:
      - s3_secrets is defined and s3_secrets | length > 0
      - s3_secrets[repl_vars.dst.credential] is defined
      - repl_vars.dst.credential is defined
    no_log: true

  - name: aws | Delete s3 bucket on AWS if not present for {{ repl_loop.key }}
    s3_bucket:
      name: "{{ repl_vars.dst.bucket }}"
      state: absent
      force: yes
      aws_access_key: "{{ dst_access_key }}"
      aws_secret_key: "{{ dst_secret_key }}"
      region: "{{ repl_vars.dst.region | default('us-west-2') }}"
    when:
      -  dst_access_key is defined and dst_secret_key is defined 
      - repl_vars.common_params.delete_aws_bucket is defined and repl_vars.common_params.delete_aws_bucket | bool
    ignore_errors: true

  - name: replication | Delete connection to remote S3-capable target for {{ repl_loop.key }}
    purefb_target:
      name: "{{ repl_vars.common_params.remote_connection_name | default('aws_target') }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    ignore_errors: true
    when: 
      - repl_vars.common_params.delete_connection is defined and repl_vars.common_params.delete_connection | bool
      - src_fb_info.purefb_info.default.targets is defined and src_fb_info.purefb_info.default.targets|bool

  - name: replvip | Set fact for replication vip on src FlashBlade server {{ repl_loop.key }}
    set_fact:
      src_repl_vip_name: "{{ item.key }}"
      src_repl_vip: "{{ item.value.address }}"
    when: ( item.value.services[0] == "replication" )
    loop: "{{ src_fb_info.purefb_info.network | dict2items }}"
    loop_control:
      label: "{{ item.key }}"

  - name: replvip | Delete replication interface(VIP) on {{ repl_loop.key }}
    purefb_network:
      name: "{{ repl_vars.src.replvip_name | default('replvip') }}"
      address: "{{ repl_vars.src.replvip | default(omit) }}"
      state: absent
      fb_url: "{{ src_fb_url }}"
      api_token: "{{ src_fb_token }}"
    ignore_errors: true
    when: src_repl_vip_name is defined and src_repl_vip is defined

  when:
    - repl_vars.common_params is defined
    - repl_vars.common_params.delete is defined and repl_vars.common_params.delete | bool
