#data_transfer_cache_size=0
db_cache_size=1509949440
java_pool_size=234881024
large_pool_size=2852126720
#*.oracle_base='/u01/app/oracle'#ORACLE_BASE set from environment
pga_aggregate_target=4227858432
sga_target=6274678784
#shared_io_pool_size=100663296
shared_pool_size=1543503872
streams_pool_size=0
audit_file_dest='/u01/app/oracle/admin/devslob/adump'
audit_trail='db'
compatible='12.1.0.2.0'
control_files='/u02/oradata/devslob/control01.ctl','/u03/redologs/devslob/control02.ctl'
db_block_size=8192
db_domain=''
db_name='devslob'
#*.db_recovery_file_dest='/u01/app/oracle/fast_recovery_area'
#*.db_recovery_file_dest_size=4560m
diagnostic_dest='/u01/app/oracle'
filesystemio_options='SETALL'
memory_target=10000m
open_cursors=300
processes=2000
remote_login_passwordfile='EXCLUSIVE'
undo_tablespace='UNDOTBS1'
filesystemio_options='SETALL'
log_archive_format='%t_%s_%r.dbf'
undo_management=auto
recyclebin=off
#log_archive_dest_1='location=/u03/archivelog/devslob'
#log_archive_start=TRUE
#_allow_resetlogs_corruption=TRUE
