oraslob.__data_transfer_cache_size=0
oraslob.__db_cache_size=6090129408
oraslob.__inmemory_ext_roarea=0
oraslob.__inmemory_ext_rwarea=0
oraslob.__java_pool_size=16777216
oraslob.__large_pool_size=100663296
oraslob.__oracle_base='/u01/app/oracle'#ORACLE_BASE set from environment
oraslob.__pga_aggregate_target=2516582400
oraslob.__sga_target=7532969984
oraslob.__shared_io_pool_size=369098752
oraslob.__shared_pool_size=939524096
oraslob.__streams_pool_size=0
*.audit_file_dest='/u01/app/oracle/admin/{{ src_db }}/adump'
*.audit_trail='db'
*.compatible='18.0.0'
*.control_files='/u02/oradata/{{ src_db | upper}}/control01.ctl','/u03/fast_recovery_area/{{ src_db | upper}}/control02.ctl'
*.db_block_size=8192
*.db_domain='uklab.purestorage.com'
*.db_name='oraslob'
*.db_recovery_file_dest='/u03/fast_recovery_area/{{ src_db | upper}}'
*.db_recovery_file_dest_size=1800g
*.diagnostic_dest='/u01/app/oracle'
*.dispatchers='(PROTOCOL=TCP) (SERVICE={{ src_db }}XDB)'
*.local_listener='LISTENER_{{ src_db | upper }}'
*.log_archive_format='%t_%s_%r.dbf'
*.nls_language='ENGLISH'
*.nls_territory='UNITED KINGDOM'
*.open_cursors=300
*.pga_aggregate_target=2395m
*.processes=1280
*.remote_login_passwordfile='EXCLUSIVE'
*.sga_target=7184m
*.undo_tablespace='UNDOTBS1'
