$Targets = @("Z-STN-WIN2016-A\DEVOPSDEV1")
Invoke-PfaDbRefresh -RefreshDatabase tpch-no-compression `
                    -RefreshSource   Z-STN-WIN2016-A\DEVOPSPRD `
                    -DestSqlInstance $Targets `
                    -PfaEndpoint     {{ pEndpoint }} `
                    -PfaUser         {{ pPassword }} `
                    -PfaPassword     {{ pPassword }} `
                    -NoPsRemoting

